In [1]:
#Rohit Kumar - BL.EN.U4EEE22017
import pandas as pd

In [2]:
# Question 1: Creating a MultiIndex DataFrame 
# Create a DataFrame using a MultiIndex. Use the following data: 

# Countries: ['USA', 'USA', 'India', 'India'] 
# Cities: ['New York', 'Los Angeles', 'Mumbai', 'Delhi'] 
# Population: [8000000, 4000000, 20000000, 18000000] 

# Task: Construct a DataFrame with Countries and Cities as hierarchical indices (MultiIndex) and Population as the column.


data = pd.Series(
    index=[['USA', 'USA', 'India', 'India'],['New York', 'Los Angeles', 'Mumbai', 'Delhi']],
     data=[8000000, 4000000, 20000000, 18000000]
)
data.index

MultiIndex([(  'USA',    'New York'),
            (  'USA', 'Los Angeles'),
            ('India',      'Mumbai'),
            ('India',       'Delhi')],
           )

In [3]:
data

USA    New York        8000000
       Los Angeles     4000000
India  Mumbai         20000000
       Delhi          18000000
dtype: int64

In [11]:
# Question 2: Accessing Data with Hierarchical Index 
# Given the DataFrame created in Question 1, access the population of Mumbai in India using hierarchical indexing. 

print(data.loc['India']['Mumbai'])

20000000

In [5]:
# Question 3: Slicing and Subsetting with MultiIndex 
# Using the DataFrame from Question 1, slice the DataFrame to get all cities and their populations in the USA only. 

print(data.loc['USA'])

New York       8000000
Los Angeles    4000000
dtype: int64

In [4]:
# Question 4: Swapping and Sorting Levels 
# For the DataFrame created in Question 1, swap the levels of the MultiIndex so that City comes before Country, and sort the DataFrame by the new index order. 

swap = data.swaplevel(0,1).sort_index()
print(swap)

Delhi        India    18000000
Los Angeles  USA       4000000
Mumbai       India    20000000
New York     USA       8000000
dtype: int64

In [54]:
# Question 5: Aggregating Data with MultiIndex 
# Create a MultiIndex DataFrame with the following data: 

# Index levels: Year (2019, 2020), 
# Quarter (Q1, Q2) 
# Columns: Sales (500, 700, 900, 1200) 

# Task: Aggregate the Sales by Year using groupby() to get the total sales for each year. 

df = pd.Series(
    data=[500, 700, 900, 1200], 
    index=[['Q1', 'Q2', 'Q1', 'Q2'], [2019, 2019, 2020, 2020]]
)
df.index

MultiIndex([('Q1', 2019),
            ('Q2', 2019),
            ('Q1', 2020),
            ('Q2', 2020)],
           )

In [55]:
df

Q1  2019     500
Q2  2019     700
Q1  2020     900
Q2  2020    1200
dtype: int64

In [56]:
df = df.reset_index()
df.columns = ['Quarter', 'Year', 'Sales']
df=pd.DataFrame(df)
df

  Quarter  Year  Sales
0      Q1  2019    500
1      Q2  2019    700
2      Q1  2020    900
3      Q2  2020   1200

In [57]:
sale= df.groupby('Year')
sale['Sales'].sum()

Year
2019    1200
2020    2100
Name: Sales, dtype: int64